NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

POSTGRES_USER=nextauthuser
POSTGRES_PASSWORD=nextauthpassword
POSTGRES_DB=nextauthdb
DATABASE_URL="postgresql://nextauthuser:nextauthpassword@localhost:5432/nextauthdb?schema=public"

BCRYPT_SALT=10